name: Run Script

on:
  push:
    branches: [ main ]

jobs:
  run_script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: List files
        run: ls -la

      - name: Run a Python script
        run: |
          echo "print('Hello from Python')" > test.py
          python3 test.py
